.subreddit-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: black solid;
    padding: 5px 0;
}

.subreddit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}