.comment-item {
    display: flex;
    flex-direction: column;
    border-top: black solid;
    margin: 5px;
}
.comment-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.comment-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
}