.post-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: black solid;
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.button {
    font-size: 50px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.post-item p {
    margin: 0;
}

#like-button:hover {
    color: green;
}

#dislike-button:hover {
    color: red;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

.post-title {
    padding: 0 15px;
}

.post-details {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.post-details p {
    padding: 15px;
}

#comment-item {
    padding: 0;
}

.post-comments-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comments-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 9px;
    font-size: 35px;
}

.comments-container {
    display: flex;
    flex-direction: column;
}